@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
$primary: black;
$secondary: white;
$trinary: #000;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;

$body-font-size: 17px;
$border-radius: 0px;
$h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

* {
  outline: none;
}

@font-face {font-family: 'Square-Bold';
  src: url('./assets/fonts/EuclidSquare-Bold.ttf');
}
@font-face {font-family: 'Square';
  src: url('./assets/fonts/EuclidSquare-Regular.ttf');
}
@import '~@primer/css/index.scss';

html, body, #app {
  color: white;
  font-family: 'Square', cursive;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.6rem;  
  text-shadow:0px 0px 0.5px;

}

#app {
  z-index:1;
  position:relative;
  background-size:cover;
  min-height: 100vh;
  background-color: black;
}

h1, h2, h3, .button {
  font-family: 'Square-Bold', cursive;
    font-weight:800;
}

h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
.vue-particles{
  z-index:0;
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
}

.hero{width:100vw;min-height:50vh;background-image: url(./assets/hero.png);
background-size: cover;background-repeat: no-repeat;}

.bg-topnav {
  background-color: black;
}
.no-marg-l{margin-left:unset!important;}

.no-marg-r{margin-right:unset!important;}

nav{
  z-index:1;
  position:relative;
}

.row{
  display:flex;
  flex-flow:row;
}

.eth-img{margin: auto 2px ;}

.bg-secondary {
  background-color: $secondary;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 0 24px;
  display: inline-block;
  border: 0;
  &:hover{
    opacity:0.8;
  }
  &:disabled {
    color: $text-disabled;
    background-color: $secondary;
    border: 0;
    cursor: not-allowed;
  }
}

.hero-desc{max-width:500px;}

.flex-centered{justify-content: center;}

.flex-space-between{justify-content:space-between;}

.row-responsive{display:flex;flex-flow:row;}

.centered-text{text-align: center;}

.row-flex-desc{
  
  h2{@extend .mb-4;
    font-size:2rem;}
}
.feature-row{
  max-width:70%;
  padding:2rem;
  background:#333;
  display: flex;flex-flow:column;
  justify-content: center;}
.feature-block-desc{
  font-size:0.8rem;
  h3{  font-size:1rem;
    @extend .mb-2;
  }
  padding:1rem;
}

.feature-box-module{
  box-shadow:0px 5px 15px rgba(0,0,0,0.5);
  background-color:#333;
  display:flex;
  flex-flow:column;
  width:300px;
  min-height:1rem;
  height:256px;
  margin:2rem;
  border-radius:1rem;
  border:1px solid white;
  overflow:hidden;
}

.feature-block-image{
  max-height:64px;
  display: block;position: relative;
  overflow:hidden;
  img{width: 100%;position: relative;
  }
}

.feature-image{
  display:flex;
  position: relative;
  flex-flow:wrap;
  justify-content:center;  
  overflow:hidden;
  width:300px;
  height:300px;
  img{
    height:100%;  
    display: block;
    position: relative;
  }
}

.bigshadow{
  text-shadow:0px 1px #eeeeee, 0px 2px #dddddd, 0px 3px #cccccc, 0px 4px #bbbbbb, 0px 5px #aaaaaa, 0px 6px #999999, 0px 7px #888888, 0px 8px #777777, 0px 9px #666666, 0px 10px #555555, 0px 11px #444444,0px 12px #333333, 0px 13px #222222, 0px 14px #111111;}
.warn{color:$secondary;border-bottom:2px solid;}

.button-primary {
  height: 44px;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary;
  background-color: $secondary;
  border-radius:22px;
  box-shadow:0px 4px 8px   rgba(0,0,0,0.5), 0px 2px 10px rgba(0,0,0,0.5);
  border:3px solid $secondary;
  transform:translateY(0px);
  transition:box-shadow 200ms, transform 200ms linear;
  &:hover{
    transform:translateY(2px);
    box-shadow:0px 0px 2px  rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5);
  }
}

.button-outline {
  @extend .button-primary;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.background-mountain{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  margin:unset;
  top:0px;
  left:0px;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  filter:saturate(0)invert(1);
  background-image:url('./assets/back.png');
}
.button-large-ps{
  @extend .py-4;
  height:auto;
  line-height:2rem;
  width:100%!important;
  text-align:center;
   font-size:2rem;}
.background-second{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  mix-blend-mode:overlay;
  margin:unset;
  top:0px;
  left:0px;
  background-size:auto;
  background-attachment:fixed;
  background-position:center;
  background-image:url('./assets/noise.gif');
}
@keyframes flow {
  0%{filter:blur(0.5px)sepia(0)invert(1);}
  25%{filter:blur(0.5px)sepia(1);}
  50%{filter:blur(20px)sepia(0)invert(0.8);}
  75%{filter:blur(0.5px)sepia(1);}
  100%{filter:blur(0.5px)sepia(0)invert(0);}
}

.button-info {
  height: 44px;
  line-height: 44px;
  color: white;
  background-color: $secondary;
  min-width: auto;
}

.countdown-box{
  margin-top:1rem;
}

.flip-card__top{
  color:$primary!important;
  background:$secondary!important;
}
.flip-card__bottom{
  color:$primary!important;
  background:$bg-color!important;
}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  background-color: $secondary;

  &.active {
    box-shadow: inset 0 0 0 1px $primary;
  }
}
.hero-icon img{@extend .my-4;}
.logo{
  padding:0.5rem;
  height:48px;filter: invert(1);
  margin:auto 2px;
  img{border-radius:unset;}
  &:hover{filter:invert(1)}
}
.ticker-name{margin-top: 2.2em;
}
.hero-icon{width: 100%;
  display: flex;
img{max-width:200px;margin:auto;filter:invert(1);}}
.login-bullet {
  width: 14px;
  height: 14px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}

.mainnav {
  height: auto;
  margin:auto;
  line-height: 0;
  overflow:hidden;
  text-align:center;
  border:4px solid $bg-color;
  display: flex;width:max-content;
  box-shadow:0px 5px 50px rgba(0,0,0,0.5);
  opacity:0.4;
  transition:opacity 200ms linear;
  &:hover{opacity:1;}
}

.row-flex-desc{}

.button-secondary {
  height: 54px;
  line-height: 52px;
  font-size: 1rem;
  color: white;

  &.router-link-exact-active {
    color: $primary;
    background-color: $secondary;  
    position:relative;
    z-index:1;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);

  }
}

.form {
  margin:auto 1.7rem;
}
.main-title{
  margin: auto 20vw;
  font-size:3rem;
  line-height:3rem;
  text-align:center;
  text-shadow:3px 3px 10px $primary;

}
.ta-l{text-align:left!important;}

.input {
  text-align: left;
  border: 2px solid $primary;
  background: $bg-color;
  outline: none;
  display: block;
  height: 44px;
  line-height: 40px;
  padding: 0 14px;
  color: white;
  width: 100%;
  box-shadow:0px 4px 8px   rgba(0,0,0,0.5), 0px 2px 10px rgba(0,0,0,0.5);


  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  border-radius: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}
@keyframes wave{
  0%{  background-size:100%;
  }
  50%{  background-size:120%;
  }
  100%{  background-size:100%;
  }
}

.block {
  @extend .py-6;
  @extend .px-4;
  width:100%;
  height:auto;
  z-index:0;
  position:relative;

  p {
    margin: 0 auto;
  }
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.modal {
  .backdrop {
    background: transparentize($primary, 0.9) !important;
  }

  .shell {
    background-color:black;
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}
