@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
$primary: black;
$secondary: white;
$trinary: #000;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;

$body-font-size: 17px;
$border-radius: 0px;
$h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

* {
  outline: none;
}

@font-face {font-family: 'Square-Bold';
  src: url('./assets/fonts/EuclidSquare-Bold.ttf');
}
@font-face {font-family: 'Square';
  src: url('./assets/fonts/EuclidSquare-Regular.ttf');
}
@import '~@primer/css/index.scss';

html, body, #app {
  color: white;
  font-family: 'Square', cursive;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.6rem;  
}

#app {
  z-index:1;
  position:relative;
  background-size:cover;
  min-height: 100vh;
  background-color: black;
}

h1, h2, h3, .button {
  font-family: 'Square-Bold', cursive;
    font-weight:800;
}

h3{font-size:2.25rem;
line-height:2rem;}

h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
.vue-particles{
  z-index:0;
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
}

.hero{
  width:100vw;
  min-height:100vh;
  height:calc(100vh - 100px);
  background-image: url(./assets/hero.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-flow: column;
justify-content:center;
background-attachment: fixed;}


.bg-topnav {
  background-color: transparent;
}
.no-marg-l{margin-left:unset!important;}

.no-marg-r{margin-right:unset!important;}

nav{
  z-index:1;
  position: absolute;
  width: 100vw;}

.row{
  display:flex;
  flex-flow:row;
}

.eth-img{margin: auto 2px ;}

.bg-secondary {
  background-color: $secondary;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 0 24px;
  display: inline-block;
  border: 0;
  &:hover{
    opacity:0.8;
  }
  &:disabled {
    color: $text-disabled;
    background-color: $secondary;
    border: 0;
    cursor: not-allowed;
  }
}

.hero-desc{max-width:500px;}

.flex-centered{justify-content: center;}

.flex-space-between{justify-content:space-between;}

.row-responsive{display:flex;flex-flow:row;}

.centered-text{text-align: center;}

.row-flex-desc{
  

  h2{@extend .mb-4;
    font-size:2rem;}
}
.feature-row{
  width: 100%;
  padding: 2rem;
  background: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;}
.feature-block-desc{
  font-size:0.8rem;
  h3{  font-size:1rem;
    @extend .mb-2;
  }
  padding:1rem;
}
.no-pad{padding:unset!important;}

.feature-box-module{
  box-shadow:0px 5px 15px rgba(0,0,0,0.5);
  background-color:#362F2C;
  display:flex;
  flex-flow:column;
  width:300px;
  min-height:1rem;
  height:256px;
  margin:2rem;
  border-radius:1rem;
  border:1px solid white;
  overflow:hidden;
}


.works-module-responsive{
  display:flex;flex-flow:row;
  margin:2rem;
  .works-icon{margin:auto 2rem;}
  .works-desc{max-width:300px;h3{margin-bottom:1rem;}}

}

.feature-block-image{
  max-height:64px;
  display: block;position: relative;
  overflow:hidden;
  img{width: 100%;position: relative;margin-top:-32px;
  }
}

.feature-image{
  display:flex;
  position: relative;
  flex-flow:wrap;
  justify-content:center;  
  overflow:hidden;
  width:40%;
  height:300px;
  img{
    height:100%;  
    display: block;
    position: relative;
  }
}

.bigshadow{
  text-shadow:0px 1px #eeeeee, 0px 2px #dddddd, 0px 3px #cccccc, 0px 4px #bbbbbb, 0px 5px #aaaaaa, 0px 6px #999999, 0px 7px #888888, 0px 8px #777777, 0px 9px #666666, 0px 10px #555555, 0px 11px #444444,0px 12px #333333, 0px 13px #222222, 0px 14px #111111;}
.warn{color:$secondary;border-bottom:2px solid;}

.button-primary {
  height: 44px;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Square', cursive;
  color: $primary;
  background-color: $secondary;
  border-radius:22px;
  text-transform: capitalize;
  border:2px solid $secondary;
  transform:translateY(0px);
  min-width:140px;
  transition:box-shadow 200ms, transform 200ms linear;
  &:hover{
  }
}

.button-outline {
  @extend .button-primary;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.background-mountain{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  margin:unset;
  top:0px;
  left:0px;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  filter:saturate(0)invert(1);
  background-image:url('./assets/back.png');
}
.button-large-ps{
  @extend .py-4;
  height:auto;
  line-height:2rem;
  width:100%!important;
  text-align:center;
   font-size:2rem;}
.background-second{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  mix-blend-mode:overlay;
  margin:unset;
  top:0px;
  left:0px;
  background-size:auto;
  background-attachment:fixed;
  background-position:center;
  background-image:url('./assets/noise.gif');
}
@keyframes flow {
  0%{filter:blur(0.5px)sepia(0)invert(1);}
  25%{filter:blur(0.5px)sepia(1);}
  50%{filter:blur(20px)sepia(0)invert(0.8);}
  75%{filter:blur(0.5px)sepia(1);}
  100%{filter:blur(0.5px)sepia(0)invert(0);}
}

.button-info {
  height: 44px;
  line-height: 44px;
  color: white;
  background-color: $secondary;
  min-width: auto;
}

.countdown-box{
  margin-top:1rem;
}

.flip-card__top{
  color:$primary!important;
  background:$secondary!important;
}
.flip-card__bottom{
  color:$primary!important;
  background:$bg-color!important;
}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  background-color: $secondary;

  &.active {
    box-shadow: inset 0 0 0 1px $primary;
  }
}
.hero-icon img{@extend .my-4;}
.logo{
  padding:0.5rem;
  height:48px;filter: invert(1);
  margin:auto 2px;
  img{border-radius:unset;}
  &:hover{filter:invert(1)}
}
.ticker-name{margin-top: 2.2em;
}
.hero-icon{width: 100%;
  display: flex;
img{max-width:200px;margin:auto;filter:invert(1);}}
.login-bullet {
  width: 14px;
  height: 14px;
  background-color: $primary;
  display: inline-block;
}

.mainnav {
  height: auto;
  margin:auto;
  line-height: 0;
  overflow:hidden;
  text-align:center;
  display: flex;width:max-content;
  box-shadow:0px 5px 50px rgba(0,0,0,0.5);
  opacity:0.4;
  transition:opacity 200ms linear;
  &:hover{opacity:1;}
}

.branding-header{
  margin-top:1rem;
  width:100%;
  height:100px;
  display:flex;
  flex-flow:row;
  justify-content:center;}

.branding-header-icon{
  width:100px;
  padding:1rem;
  filter:invert(1);
}

.dapp-menu-links{
  height:60%;
  display:flex;
  flex-flow:column;
  justify-content:center;
}

.dapp-nav{
  display:flex;
  flex-flow:column;
  padding:1rem;
}

.button-dapp-menu{
  display:flex;
  border-radius:2rem;
  font-weight:500;
  @extend .button-secondary;
  font-family: 'Square', 'cursive';
}

.dapp-modal-wrapper{
  padding:2rem 0rem;
  max-width:330px;
  width:100%;
}

.swap-input-row{
  display:flex;flex-flow:row;justify-content:space-between;
  width:330px;
  height:50px;
  background-color:#282828;
  border-radius:2rem;
}

.swap-ourput-row{
  display:flex;flex-flow:row;justify-content:space-between;
  width:330px;
  height:50px;
  background-color:#282828;
  border-radius:2rem;
}

.wrapper{
  width:calc(100% - 300px); 
  height:100%;
  position:absolute;
  display:flex;flex-flow:column;justify-content:center;
  right:0px;
  top:0px;}

.dapp-center-modal{
  position:relative;
  width:500px;
  min-height:425px;
  margin:auto;
  border-radius:2rem;
  background-color:#424242dd;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  display:flex;
  flex-flow:wrap;
  justify-content:center;
  overflow:hidden;

}

footer{
  height:450px;
  display:flex;
  flex-flow:column;
  justify-content:center;
}

.footer-row{
  max-width:1000px;
  display:flex;
  flex-flow:row;
  justify-content:space-evenly;
}

.footer-menu{
  display:flex;
  flex-flow:row;
  justify-content:space-evenly;
  width:100%;
  max-width:600px;
}

.footer-icon{display:flex;flex-flow:column;justify-content:center;}
.footer-menu-column{
  display:flex;
  flex-flow:column;
h4{font-weight:bold;
@extend .mb-3;}
a{font-weight:lighter;
  font-size: 0.8rem;}}

.footer-app-button{display:flex;flex-flow:column;justify-content:center;}


.dapp{
  height:100vh;
  width:100vw;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:url('./assets/dapp-background.svg');
}

.swap-input-container{
  display:flex;
  padding:0.5rem 1rem;

}
.stake-input-container{
  display:flex;
  padding:0.5rem 1rem;

}
.swap-input{
  background:transparent;
  border:unset;
  width: 100%;
  color:#555;
  &:focus{color:#aaa;}
}

.stake-input{  background:transparent;
  border:unset;
  color:#555;
  &:focus{color:#aaa;}}


  .bond-input{  background:transparent;
    border:unset;
    color:#555;
    &:focus{color:#aaa;}}
  
    .redeem-input{  background:transparent;
      border:unset;
      color:#555;
      &:focus{color:#aaa;}}
    
.bond-data-row{width:500px;
background-color:black;display:flex;flex-flow:row;justify-content: space-evenly;padding: 2rem 0rem;}
.bond-data-column{text-align:center;}
.stake-amount-preset-button{
  width:64px;
  display:flex;flex-flow:wrap;justify-content:center;
background:white;color:black;line-height:36px;border-radius:20px;text-align:center;
padding:0rem 1rem;&:hover{color:white;background:black;}
}
.stake-amount-preset-row{
  padding:1rem 0rem;
  display:flex;
  flex-flow:row;
  justify-content:space-between;
}

.stake-toggle-row{
  margin:1rem auto;
  .toggle-switch{
    border-radius:2rem;overflow:hidden;
    li{
      label{font-family: 'Square', 'cursive';}

      &:first-child{
          label{
            border-width:2px!important;
            border-top-left-radius:2rem!important;
            border-bottom-left-radius:2rem!important; 
            .selected{border-radius:2rem!important;}}
        }
      &:last-child{
          label{            
            border-width:2px!important;
            border-bottom-right-radius:2rem!important;
            border-top-right-radius:2rem!important; 
            .selected{border-radius:2rem!important;}}
        }
      }
    }
  }

  .stake-button-container{display:flex;flex-flow:row;justify-content:center;}
  .redeem-button-container{display:flex;flex-flow:row;justify-content:space-evenly;}

.stake-button{  font-size:0.8rem;
  cursor:pointer;background-color:#282828;
padding:0.5rem 2rem;border-radius:2rem;text-transform:capitalize;border:2px solid white;
&:hover{background-color:white;color:black;}}

.withdraw-button{
  cursor:pointer;background-color:#282828;
  font-size:0.8rem;
padding:0.5rem 1rem;border-radius:2rem;text-transform:capitalize;border:2px solid white;
&:hover{background-color:white;color:black;}}

.redeem-button{font-size:0.8rem;
  cursor:pointer;background-color:#282828;
padding:0.5rem 3rem;border-radius:2rem;text-transform:capitalize;border:2px solid white;
&:hover{background-color:white;color:black;}}

.stake-price-data-column{
  margin:1rem 0px;display:flex;flex-flow:column;justify-content:space-between;}
.stake-price-data-row{
  display:flex;flex-flow:row;justify-content:space-between;}


.swap-output-container{
  display:flex;
  padding:0.5rem 1rem;

}
input{
  &::placeholder{color:#555;} 
}
.swap-button-container{display:flex;flex-flow:row;justify-content:center;}

.swap-button{
  font-size:0.8rem;
  cursor:pointer;background-color:#282828;
padding:0.5rem 3rem;border-radius:2rem;text-transform:capitalize;border:2px solid white;
&:hover{background-color:white;color:black;}}

.cur-max-box{
  padding:8px;
  display:flex;flex-flow:row;
  img{height:100%;}
  .max-button{margin:0px 0.5rem;width:64px;
  display:flex;flex-flow:wrap;justify-content:center;
background:white;color:black;line-height:36px;border-radius:20px;text-align:center;
padding:0rem 1rem;
&:hover{color:white;background:black;}}
}

.swap-output{
  background:transparent;
  border:unset;
  color:#555;
  &:focus{color:#aaa;}
}

.swap-arrow{
  width:100%;
  display:flex;
  flex-flow:row;
  justify-content:center;
  margin:1rem auto;
}

.swap-input-column{
  width:100%;
  display:flex;
  flex-flow:column;
}

.swap-price-data-column{
  margin:1rem 0px;display:flex;flex-flow:column;justify-content:space-between;}
.swap-price-data-row{
  display:flex;flex-flow:row;justify-content:space-between;}

.price-label{font-size:0.8rem;}

.price-data{font-size:0.8rem;}

.balance-row{opacity:0.5;padding:0px 5px;display:flex;flex-flow:row;justify-content:flex-end;
  .balance-data{padding: 0px 5px;}
  p{font-size:0.7rem;}}

.dapp-sidebar{
  position:absolute;
  left:0px;top:0px;
  width:300px;
  height:100%;
  display:flex;
  flex-flow:column;
  background-color:#212121;
  opacity:0.8;
  box-shadow:inset 0px 0px 50px black;
}
.dapp-sidebar-button-connected{border-radius:2rem;}
.dapp-menu-social{   
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.dapp-sidebar-button-connect{    
  background-color: transparent;
  color: white;
  &:hover{background-color:white;color:black;}
}
.dapp-sidebar-button-connected{    
  background-color: white;
  color: black;
}

.wallet-menu{
  display:flex;
  flex-flow:row;
  justify-content:center;

}

.wallet-button{
  border:1px solid #0001;
  background-color: transparent;
  border-radius: 1rem;
  &:hover{background-color:#e8e8e8;}
}

.social-row{    
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 2rem;
  a{
    &:hover{
      transform:scale(1.1);
  }
 }
}

.row-flex-desc{
  max-width: 600px;
  margin: auto;
}

.button-secondary {
  height: 54px;
  line-height: 52px;
  font-size: 1rem;
  color: white;

  &.router-link-exact-active {
    color: $primary;
    position:relative;
    z-index:1;
    background-image:linear-gradient(to right, rgba(255,255,255,0.8) 0%, transparent 80%, transparent 100%);

  }
}

.form {
  margin:auto 1.7rem;
}
.main-title{
  margin: 1rem auto;
  font-size:3rem;
  line-height:3rem;
  text-align:center;
  max-width:600px;

}
.ta-l{text-align:left!important;}

.input {
  text-align: left;
  border: 2px solid $primary;
  background: $bg-color;
  outline: none;
  display: block;
  height: 44px;
  line-height: 40px;
  padding: 0 14px;
  color: white;
  width: 100%;
  box-shadow:0px 4px 8px   rgba(0,0,0,0.5), 0px 2px 10px rgba(0,0,0,0.5);


  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  border-radius: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}
@keyframes wave{
  0%{  background-size:100%;
  }
  50%{  background-size:120%;
  }
  100%{  background-size:100%;
  }
}

.block {
  @extend .py-6;
  @extend .px-4;
  width:100%;
  height:auto;
  z-index:0;
  position:relative;

  p {
    margin: 0 auto;
  }
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}
.iconclose{
  &:before{color:#e8e8e8;}
}
.modal {
  .backdrop {
    background: #0005;
  }

  .shell {
    background-color:#f5f5f5;
    @extend .block;
    border-radius:2rem;
    max-width: 450px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}

@media screen and (max-width:1000px){
.row-responsive{flex-flow:wrap;}
.footer-row{flex-flow:wrap-reverse;}
.footer-menu{flex-flow:wrap;}
.footer-menu-column{padding:2rem;}
footer{height:auto;padding:2rem 0rem}
.feature-image{width:100%;}
.works-module-responsive{
  flex-flow:wrap;justify-content: center;  margin:2rem;
  .works-icon{margin: 2rem;}
  .works-desc{max-width:300px;h3{margin-bottom:1rem;}}
}
.wrapper {
  width: 100%;
  height: calc(100% - 300px);
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  right: 0px;
  top: 300px;}
  .dapp-sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row;
    background-color: #212121;
    opacity: 0.8;
    box-shadow: inset 0px 0px 50px black;
}
.dapp-menu-top{width:250px;}
.dapp-menu-social {
  width: 250px;}
  .dapp-menu-links{height:100%;}
  .dapp-center-modal{width:auto;padding:0rem 2rem;}
}