@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
$primary: black;
$secondary: white;
$trinary: #000;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;
$bg-background: #595652;

$body-font-size: 17px;
$border-radius: 0px;
// $h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

@font-face {font-family: 'Square-Light';
  src: url('./assets/fonts/EuclidSquare-Light.ttf');
}
@font-face {font-family: 'Square-SemiBold';
  src: url('./assets/fonts/EuclidSquare-SemiBold.ttf');
}

// TODO: This formats the button unfortunately.
@import '~@primer/css/index.scss';

#app {
  min-height: revert !important;
}

.navbar {
    padding-top: 0 !important;
    height: 100px !important;
    background: transparent !important;
    z-index: 9999;
  .drop-menu-item {
    text-align: center;
      h4 a {
        color: #363636;
      }
  }
}

.drop-menu-item {
  height: 50px !important;
  vertical-align: middle;
  padding: 0 50px !important;
  &:hover h4, &:hover h4 a {
    color: #759AAE !important;
  }
  &:hover .drop-menu-hidden, &:active .drop-menu-hidden {
    padding: 0 !important;
    border-radius: 0.5rem;
    display: flex;
    height: auto;
    flex-flow: column;
    justify-content: center;
    background: #759AAE !important;
    position: absolute;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s ease;
    transition-delay: 0s;
    z-index: 5;
    margin: 10px auto 0 auto;

    a {
      width: 125px !important;
      height: 50px !important;
      line-height: 50px !important;
      margin: 0 !important;
      color: white;
      font-family: 'Square', cursive;
      &:hover {
        background-color: #93AEBC;
      }
    }
  }
}

.drop-menu-item.highlight {
  background-color: #759AAE;
  &:hover {
    background-color: #93AEBC;
  }
    h4 a {
      color: white !important;
    }
}

.drop-menu-item h4 {
  color: #363636;
  margin: 10px 0;
}

.bg-light {
  background-color: white !important;
}

.navbar-brand .logo svg {
  filter: invert(1);
}

.hero-block {
  background: rgb(255,255,255);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%), url(./assets/olympus-hero-background.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 150px);
    .main-title {
      margin-top: 20% !important;
    }
  .btn:nth-of-type(2) {
    margin-left: 10px;
  }
}

.ohmie {
  height: calc(100vh - 300px);
  position: absolute;
  bottom: 100px;
}

.main-title {
  color: #363636 !important;
  text-align: left;
  margin: 0 0 2rem 0 !important;
}

.sub-title {
  color: #4D4C4C !important;
  font-family: 'Square', cursive;
  margin: 0 0 2rem 0 !important;
}

.btn {
  width: 175px;
  background-image: none !important;
  line-height: 30px !important;
  font-family: 'Square-SemiBold', cursive !important;
}

.primary {
  background-color: #759AAE !important;
  border: 1px solid #759AAE;
  color: #ffffff !important;
  &:hover {
    background-color: #93AEBC !important;
    opacity: 1;
    border: 1px solid #93AEBC;
    background-position: revert;
  }
}

.secondary {
  background-color: #ffffff !important;
  border: 1px solid #333333 !important;
  color: #333333 !important;
  &:hover {
    background-color: #ffffff !important;
    border: 1px solid #759AAE !important;
    color: #759AAE !important;
    opacity: 1;
    background-position: revert;
  }
}

.social-icons {
  margin-top: 125px;
  display: none !important;
}
.social-icons a {
  filter: invert(1);
}

.white-background {
  background-color: #ffffff !important;
  color: #363636 !important;
  padding: 60px 24px !important;
}

.grey-background {
  background-color: #fafafa !important;
  color: #363636 !important;
  padding: 60px 24px !important;
}

.feature-box-module {
  background-color: #ffffff !important;
}

.block {
  h1 {
    font-size: 2rem;
    font-family: 'Square-Bold', cursive !important;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.5rem;
    font-family: 'Square-Light', cursive !important;
    margin-bottom: 10px;
  }
  h3 {
    font-family: 'Square-Light', cursive !important;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  p {
    font-family: 'Square-Light', cursive !important;
    font-size: 1rem;
  }
}

.ohm-statistics {
  min-height: 150px;
  max-height: 150px;
  padding: 35px 0 !important;
  background: rgb(117,154,174);
  background: linear-gradient(90deg, rgba(117,154,174,1) 0%, rgba(79,84,148,1) 100%);
}

.navbar-light .navbar-toggler {
  color: #363636;
  border: 1px solid #363636;
}

.navbar-toggler:focus {
  box-shadow: none;
}

// new bootstrap menu default styling

.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-family: 'Square', cursive !important;
  padding: 0 25px;
  color: #363636;
    &:hover {
      color: #536F7D !important;
    }
}

ul.dropdown-menu::before, ul.dropdown-menu::after {
  content: none;
}




// MOBILE CSS media queries (max width instead of min width - reversed!)

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .navbar-collapse {
    background-color: white;
  }

}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {
  //bootstrap mobile styling
  .dropdown-menu{
    display: block;
    position: static;
    background-color:transparent;
    border:0 none;
    box-shadow:none;
    margin-top:0;
    position:static;
    width:100%;
  }
  .navbar-nav .dropdown-menu > li > a,
  .navbar-nav .dropdown-menu .dropdown-header {
    padding:5px 15px 5px 25px;
  }
  .navbar-nav .dropdown-menu > li > a{
    line-height:20px;
  }
  .navbar-nav .dropdown-menu > li > a{
    font-size: 1.3rem;
    font-family: 'Square', cursive !important;
    padding: 12px 0 12px 50px;
    color:black;
  }

  .navbar-nav .nav-link, .navbar-nav .nav-link:hover {
    color: #B2B2B2 !important;
  }

  .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    background-color: #B2B2B2 !important;
  }

  ul.dropdown-menu::before {
    content: none;
  }

  .navbar-brand img {
    margin-left: 30px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 0 !important;
    margin-left: 37px;
    font-size: 1.2rem;
    font-family: 'Square', cursive !important;
    color: #B2B2B2 !important;
    text-align: left !important;
    &:hover {
      cursor: default !important;
    }
  }

  // end bootstrap mobile styling

  .container-fluid {
    width: 100vw !important;
    max-width: revert !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar {
    background-color: white !important;
    height: revert !important;
  }

  #OhmNavBarNav {
    background: white !important;
    width: 100vw !important;
    min-height: 100vh !important;
  }

  .hero-block, .main-title {
    text-align: center;
  }

  .ohm-statistics {
    max-height: revert !important;
  }

  .hero-block {
    padding-bottom: 30px;
    .main-title {
      font-size: 2.2rem;
      margin-top: 7% !important;
    }
    .btn {
      width: 80% !important;
      display: block;
      text-align: center;
      margin: 0 auto !important;
    }
    .btn:nth-of-type(2) {
      margin-top: 10px !important;
      margin-left: 0px;
    }
  }

}

// X-Large devices (large desktops, 1200px and down)
@media (max-width: 1200px) {
  .drop-menu-item {
    padding: 0 30px !important;
  }
}

// XX-Large devices (larger desktops, 1400px and down)
@media (max-width: 1400px) { }


@media (min-width: 992px) {

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0 !important;
    border-radius: 0.5rem;
    //display: flex;
    height: auto;
    //flex-flow: column;
    justify-content: center;
    background: #759AAE !important;
    //position: absolute;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s ease;
    transition-delay: 0s;
    //z-index: 5;
    margin: 10px auto 0 auto;

    a {
      padding: 0 !important;
      height: 50px !important;
      line-height: 50px !important;
      margin: 0 !important;
      color: white;
      font-family: 'Square', cursive;
      &:hover {
        background-color: #93AEBC;
      }
    }
  }

  .dropdown-menu {
    padding: 0 !important;

  }

  .dropdown ul li {
    &:first-child {
      a {
        -webkit-border-top-left-radius: 0.5rem !important;
        -webkit-border-top-right-radius: 0.5rem !important;
        -moz-border-radius-topleft: 0.5rem !important;
        -moz-border-radius-topright: 0.5rem !important;
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      }
    }
    &:last-child {
      a {
        -webkit-border-bottom-right-radius: 0.5rem !important;
        -webkit-border-bottom-left-radius: 0.5rem !important;
        -moz-border-radius-bottomright: 0.5rem !important;
        -moz-border-radius-bottomleft: 0.5rem !important;
        border-bottom-right-radius: 0.5rem !important;
        border-bottom-left-radius: 0.5rem !important;
      }
    }

  }

}

